h1 {
    background: green;
}

.xyz1{
    font-weight: bold;
    font-family: Courier;
    font-style: italic;
}




.xyz2{
    border: red dotted 20px;
    border-radius: 50px;
/**    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px
    margin-bottom: 50px */
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

.xyz3 {

}

.fit-picture {
    width: 250px;
}

